<html>
    <body>
        <form id="submit" action="/dashboard" method="post">
            {{form.city_name(type="select")}}
            {{form.petition_name(placeholder="Enter a petition name", type="text")}}
            {{form.petition_description(placeholder="Describe your idea", type="text")}}
            {{form.submit}}
            <p class="status">{{ message if message else "" }}</p>
        </form>
        <p>
            My Petitions
        </p>
        <ul>
        {% for item in petition.query.filter_by(poster_id=session.get('google_id')).all() %}
            <li>
                <a href="{{url_for('petitions', id=item.id)}}">{{item.name}}</a>
                <p>{{item.signatures}} signatures</p>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>