<html>
    <head>
        <link href="{{url_for('static', filename='stylesheets/home.css')}}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
        <title>Home</title>
    </head>
    <body>
        <div class="flex flex-col w-full h-full">
            <nav class="w-5/6 mx-auto mt-5 text-2xl bg-gray-200 rounded-md shadow-lg z-5">
                <ul class="flex flex-row justify-center px-3">
                    <li class="p-2 mx-2 transition-colors duration-300 ease-in-out hover:bg-gray-300"><a href="{{url_for('home')}}">Home</a></li>
                    <li class="p-2 mx-2 transition-colors duration-300 ease-in-out hover:bg-gray-300"><a href="{{url_for('communities')}}">Communities</a></li>
                    <li class="p-2 mx-2 transition-colors duration-300 ease-in-out hover:bg-gray-300"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="flex flex-row p-2 mx-2 ">
                        {% if session.get("google_id") %}
                            <img src="{{session['profile_pic']}}" class="w-10 h-10 rounded-3xl">
                            <a href="/logout" class="px-2 transition-colors duration-300 ease-in-out hover:bg-gray-300">Logout</a>
                        {% else %}
                            <a href="/login" class="transition-colors duration-300 ease-in-out hover:bg-gray-300">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <br>
            <br>
            <div class="flex flex-col justify-center mx-auto bg-white border-black border-solid shadow-2xl my-7 p-7 rounded-2xl sm:w-4/5 md:w-3/4 xl:w-1/2">
                <h1 class="p-5 mx-auto text-4xl">CommunityCall <em>MN</em></h1>
                <h3 class="mx-auto text-xl"><em>Improve and Connect with your Community Hassle-Free</em></h3>
                <br><br><br>
                <p class="text-xl">CommunityCall is calling on Minnesota cities to make a local impact! By providing a
                    lightweight and scaleable solution for hassle-free petition-like postings, citizens can excercise their 
                    civic duties and get their word out to the public! Whether the post happens to be about a group of potholes on the road,
                     or local places to vote, members of Minnesota cities can collaborate within their designated, self-applied official page to strengthen the civic duties of the community.
                     <br><br>
                    To get started, head over to the Communities tab to search for your city or apply to add your city to the system if it is not already. Once approved by a site moderator,
                    you can start posting to the bulletin board right away! The petitions that are not archived with the most signatures will be displayed first, or you can copy the link to
                    your posting to share it with others and get others locally onboard!
                    <br><br>
                    Additionally, you can submit the information for local city council members for our moderators to look at. Once verified, mayors and city council members will be added to 
                    the community page for easy contact and sharing of your posts.
                </p>
            </div>
        </div>
    </body>
</html>