<html>
    <body>
        
    </body>
</html>

<html>
    <head>
        <link href="{{url_for('static', filename='stylesheets/home.css')}}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="flex flex-col w-full h-full">
            <nav class="w-5/6 mx-auto mt-5 text-2xl bg-gray-200 rounded-md shadow-lg z-5">
                <ul class="flex flex-row justify-center px-3">
                    <li class="p-2 mx-2 transition-colors duration-300 ease-in-out hover:bg-gray-300"><a href="{{url_for('home')}}">Home</a></li>
                    <li class="p-2 mx-2 transition-colors duration-300 ease-in-out hover:bg-gray-300"><a href="{{url_for('communities')}}">Communities</a></li>
                    <li class="p-2 mx-2 transition-colors duration-300 ease-in-out hover:bg-gray-300"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="flex flex-row p-2 mx-2 ">
                        {% if session.get("google_id") %}
                            <img src="{{session['profile_pic']}}" class="w-10 h-10 rounded-3xl">
                            <a href="/logout" class="px-2 transition-colors duration-300 ease-in-out hover:bg-gray-300">Logout</a>
                        {% else %}
                            <a href="/login" class="transition-colors duration-300 ease-in-out hover:bg-gray-300">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <br>
            <br>
            <div class="flex flex-col items-center justify-center mx-auto bg-white border-black border-solid shadow-2xl my-7 p-7 rounded-2xl sm:w-4/5 md:w-3/4 xl:w-1/2">
                <h1 class="text-3xl">
                    Search for Minnesota City
                </h1>
                <form id="submit" action="{{url_for('communities_search')}}" method="post" class="flex flex-col w-5/6 gap-5 p-3 mx-auto align-center">
                    {{form.city_name(placeholder="Enter a city name", type="text",class="p-3 border-2 border-black rounded-md resize-none solid")}}
                    {{form.submit(class="w-2/5 p-4 mx-auto border-2 border-black rounded-md hover:bg-gray-300 solid")}}
                    <p class="text-xl">{{ message if message else "" }}</p>
                    <a href="{{url_for('communities_apply')}}" class="text-2xl hover:underline">Not Found? Add a City Instead</a>
                </form>
            </div>
        </div>
    </body>
</html>